<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
   <context:component-scan base-package="com.abhinav"/>
 
	<bean id="viewResolver"
    	      class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
              <property name="prefix">
                  <value>/WEB-INF/</value>
               </property>
              <property name="suffix">
                 <value>.jsp</value>
              </property>
              <property name="order">
              	<value>2</value>
              </property>
        </bean>
        
    <bean id="viewResolver1" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
  		<property name="order" value="1"/>
  		<property name="basename" value="views"/>
	</bean>
        
        <bean id="dataSource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/mysql"/>
      <property name="username" value="root"/>
      <property name="password" value="root"/>
   </bean>
   
   <bean id="facultyJDBCTemplate" 
      class="com.abhinav.FacultyJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
   </bean>
   
   <bean id="roomJDBCTemplate" 
      class="com.abhinav.RoomJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
   </bean>
   
   <bean id="resultJDBCTemplate" 
      class="com.abhinav.ResultJDBCTemplate">
      <property name="dataSource"  ref="dataSource" />    
   </bean>
</beans>